{% extends 'base.html' %} {% block content %}

<section>


  <div class="container">
    <div class="row">
      <div class="col"> <h2 style="text-align: left" class="mt-3 ml-5">Hey Pranav!</h2></div>
      <div class="col mt-3 text-right"><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Sort
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div></div>
    </div>
    <div class="row ">
      <div class="col col-md-12 col-xs-12 mt-2 mb-2" style="color: black">
        <div class="container">
          <div class="row dashboard__repo p-5">
            <div
              class="col col-2 justify-content-center align-items-center text-center"
            >
              <img
                class="dashboard__img"
                src="//logo.clearbit.com/spotify.com"
                width="100px"
              />
            </div>
            <div class="col">
              <div class="container">
                <div class="row align-items-center ">
                  <div class="col">
                    <h4>Google SDE Unit - #12121212</h4>
                  </div>
                  <div class="col align-items-center justify-content-center">
                    <span class="pill-green">
                      Random Text
                    </span>
                    <span class="pill-green">
                      Random Text
                    </span>
                  </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col">
                      <span class="pill-green">
                        Random Text
                      </span>
                      Last Update was At ---
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
