{% extends 'base.html' %} {% block content %}
<section class="vh-100 login_section">
  <div class="container py-5 h-90">
    <div class="row d-flex align-items-center justify-content-center h-90">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="../static/assets/login image.png"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2 class="text-left mb-5" style="color: white">
          Welcome Back
        </h2>
        <style>
          input{
            width: 100%;
          }
        </style>
        <form method="POST">
          {% csrf_token %}
            {{form.as_p}}
          <center><button type="submit" class="btn btn-success">
            Log in
          </button>
          </center>
          <p class="text-center text-muted mt-2 mb-0">
            Don't have an account?
            <a href="{% url 'signup' %}" class="fw-bold text-body"
              ><u>Register here</u></a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
